/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Utility*/

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.margin-0-auto {
  margin: 0 auto;
  ;
}

.margin-left0 {
  margin-left: 0;
}

.bg-lightblue {
  background-color: #B3CFE6;
}

.height {
  height: 650px;
}


/*Leyout*/
.container1000 {
  max-width: 1000px;
  background-color: #3b6f9a;
}

.container1200 {
  max-width: 1200px;
}

.row {
  display: flex;
}

/*Header*/

header {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 17px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

.btn-inizia {
  background-color: #0360FE;
  padding: 5px 10px;
  border: 1px solid black;
  color: white;
  margin-left: 0px;
  cursor: pointer;
}


/*Main*/

main h1 {
  padding-top: 120px;
  font-size: 4.5rem;
}

/*Jumbotron*/
.jumbotron-image {
  height: 300px;
}


.jumbotron-image img {
  height: 300px;
}

.jumbotron-info {
  width: 30%;
}

.jumbotron-info p {
  font-size: 20px;
  margin-bottom: 15px;

}


/*Footer*/