/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Utility*/

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.margin-0-auto {
  margin: 0 auto;
  ;
}


/*Leyout*/
.container1200 {
  max-width: 1200px;
}

.row {
  display: flex;
}

/*Header*/

header {
  padding: 20px;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 17px;
}

header ul li a {
  text-decoration: none;
  color: black;
}


/*Main*/
/*Footer*/